@font-face {
    font-family: "Ubuntu";
    src: url(fonts/Ubuntu-Bold.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}


body {
    padding: 0 12%;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #dcd4d4;
}

.logo {
    margin-left: 2px;
}

.nav-links {
    display: flex;
    margin-right: 540px;
    gap: 40px;
}


.nav-links a {
    text-decoration: none;
    color: #69707D;
}


.nav-links a:hover {
    color: black;
}


.profile {
    display: flex;
    align-items: center;
    gap: 30px;
}


.profile-picture {
    width: 40px;
    cursor: pointer;
}

.main {
    width: 70vw;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 110px;
}


.sneakers img {
    width: 100%;
    border-radius: 15px;
}

.many-sneakers {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.many-sneakers img {
    width: 22%;
    border-radius: 10px;
    cursor: pointer;
}


.right-content h5 {
    color: #848280;
    margin-bottom: 20px;
}


.right-content h1 {
    font-size: 45px;
    margin-bottom: 35px;
}


.right-content p {
    color: #69707D;
    margin-bottom: 30px;
}


.price h3 {
    font-size: 28px;
    display: flex;
    align-items: center;
    gap: 15px;
}


.price h3 span {
    background-color: #0b0b0b;
    color: #fcf9f8;
    font-size: 16px;
    padding: 2px 8px;
    border-radius: 5px;
}


.price h5 {
    color: #7d7f85;
    text-decoration: line-through;
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Ubuntu';
}


.right-content {
    display: flex;
    flex-direction: column;
}

.picker-cart {
    display: flex;
    justify-content: space-between;
}


.picker {
    display: flex;
    background-color: #e8e8e8;
    width: 150px;
    justify-content: space-between;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
}


.add-to-cart {
    background-color: #FF7E1B;
    width: 100%;
    width: 300px;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 90px;
    cursor: pointer;
}


.add-to-cart h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}


.add-to-cart img {
    width: 19px;
}